.solgaleo, .lunala {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.solgaleo {
  position: relative;
  max-width: 90%;
}

.lunala {
  position: relative;
  top: 11px;
  right: 13px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: -5px;
  position: relative;
  left: -2px;
  max-width: 90%!important;
}
