  <h4 class="card-title">Basic Details</h4>
  <h6 class="card-subtitle">Element</h6>
  <div class="m-t-20" [innerHTML]="type.description"></div>
    <div class="estadistic">
     <p>
       <label>Total</label>
       <label class="bignum">{{total}}</label>
     </p>
     <p>
       <label>Single</label>
       <label class="bignum">{{single}}</label>
     </p>
     <p>
       <label>Dual</label>
       <label class="bignum">{{dual}}</label>
     </p>
     <p>
       <label>Move</label>
       <label class="bignum">{{moves}}</label>
     </p>
   </div>
