.border-theme {
  display: block;
  background: #fff url("../../../assets/images/background/borders/orange.png");
  padding: 3px;
  border-radius:5px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  margin: 0 0 1.5em 0;
  outline: 0;
}

.hover-theme:hover {
  cursor: pointer;
  font-weight: bold;
  color:#ffa500;
}

.topbar {
  background: #ffa500; }
  .topbar .navbar-header {
    background: #ffffff; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
    color: rgba(255, 255, 255, 0.8); }
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: #ffffff !important; }
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.8) !important; }

.hdr-nav-bar .navbar .navbar-nav > li.active > a {
  border-color: #ffa500; }

/*******************
/*General Elements
*******************/
.lstick {
  background: #ffa500; }

a.link:hover, a.link:focus {
  color: #ffa500 !important; }

.bg-theme {
  background-color: #ffa500 !important; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffa500;
  border-color: #ffa500; }

.right-sidebar .rpanel-title {
  background: #ffa500; }

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #ffa500; }

.text-themecolor {
  color: #ffa500 !important; }

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #ffa500;
  color: #ffa500; }

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #ffa500; }

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #ffa500;
  color: #ffffff;
  border: 1px solid #ffa500; }
  .btn-themecolor:hover,
  .btn-themecolor.disabled:hover {
    background: #ffa500;
    opacity: 0.7;
    border: 1px solid #ffa500; }
  .btn-themecolor.active, .btn-themecolor:focus,
  .btn-themecolor.disabled.active,
  .btn-themecolor.disabled:focus {
    background: #028ee1; }

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
  background: #ffa500; }

.sidebar-nav > ul > li.active > a {
  color: #ffa500;
  border-color: #ffa500; }
  .sidebar-nav > ul > li.active > a i {
    color: #ffa500; }

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #ffa500; }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #ffa500; }

.sidebar-nav > ul > li > a i {
  color: #a6b7bf; }
