<div class="stats animated fadeIn">
  <div class="row">
    <div class="col-12">

      <div class="progress">  <!-- HP Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.HP" [style.width]="(pokemon.HP*100)/255 + '%'"></div>
        <!-- Setting Custom HTML Attributes (aria-valuenow) -->
      </div>

      <div class="progress">  <!-- ATK Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-atk"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.ATK" [style.width]="(pokemon.ATK*100)/255 + '%'"></div>
      </div>

      <div class="progress">  <!-- DEF Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-def"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.DEF" [style.width]="(pokemon.DEF*100)/255 + '%'"></div>
      </div>

      <div class="progress">  <!-- S.ATK Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.SATK" [style.width]="(pokemon.SATK*100)/255 + '%'"></div>
      </div>

      <div class="progress">  <!-- S.DEF Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.SDEF" [style.width]="(pokemon.SDEF*100)/255 + '%'"></div>
      </div>

      <div class="progress">  <!-- SPD Progress -->
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-speed"
        role="progressbar" aria-valuemin="0" aria-valuemax="255"
        [attr.aria-valuenow]="pokemon.SPD" [style.width]="(pokemon.SPD*100)/255 + '%'"></div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>TOTAL: <strong>{{pokemon.SS}}</strong></h3>
      <div class="legend">
        <span>HP</span> <div class="square bg-success"></div>
        <span>ATK</span> <div class="square bg-atk"></div>
        <span>DEF</span> <div class="square bg-def"></div>
        <span>S.ATK</span> <div class="square bg-danger"></div>
        <span>S.DEF</span> <div class="square bg-sdef"></div>
        <span>SPD</span> <div class="square bg-speed last"></div>
      </div>
    </div>
  </div>

</div>
