<div  class="challenge animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title">Trainer Challenge</h4>
      <h6 class="card-subtitle">Fight any Trainer anytime, anywhere!</h6>
    <ol class="index">
       <li><span class="list-item">1.</span>
         <h4 class="index">
           <a (click)="scrollToElement(Requeriments)">Requeriments</a>
         </h4>
       </li>
       <li><span class="list-item">2.</span>
         <h4 class="index">
           <a (click)="scrollToElement(Starting)">Starting</a>
         </h4>
       </li>
       <li><span class="list-item">3.</span>
         <h4 class="index">
           <a (click)="scrollToElement(Elite)">Elite Trainers</a>
         </h4>
       </li>
       <li><span class="list-item">4.</span>
         <h4 class="index">
           <a (click)="scrollToElement(Rewards)">Rewards</a>
         </h4>
       </li>
   </ol>
      <hr class="separator" #Requeriments>
      <h2 class="text-themecolor">Requeriments</h2>  <!-- REQUERIMENTS -->
      <ul class="bracelet-list list">
        <li>
          There is no level restriction, but We recommend minimum
          <strong>Level 30</strong>.
        </li>
        <li>
          We recommend to have more than <strong>6 Pokémon</strong>
          around your level.
        </li>
        <li>
          You can challenge <strong>Trainers</strong> all the times
          You want as long as You have <strong>Energy</strong>.
        </li>
        <li>
          Challenge a <strong>Trainer</strong> cost
          <strong class="Grass">6 Energy</strong> while challenge <strong>Elite Trainer</strong>
          cost <strong class="Grass">12 Energy</strong>.
        </li>
        <li>
        To <strong>RAID</strong> Trainers You need to already have been
        defeated the Trainer with <strong class="Fire">3 Stars</strong>.
        </li>
      </ul>

      <hr class="invisible-separator" #Starting>
      <h2 class="text-themecolor">Starting</h2>  <!-- STARTING -->
      <h4>Let's start Challenge Trainers!</h4>
      <h5 class="bold">What is Challenge Trainers?</h5>  <!-- WHAT IS VICTORY ROAD? -->

      <p>
        While You complete the <strong>Main Quest</strong> Story Line,
        Yoy will face many Trainers. They are looking for a Pokémon Challenge!
        Once You defeat a <strong>Trainer</strong>, You will be able to
        challenge that <strong>Trainer</strong> back again anywhere, anytime!
        Make <strong class="Fire">3 Stars</strong> to challenge
        (<strong>RAID</strong>) a Trainer many times in a row!
        This will increase your rewards!
      </p>

      <h5><strong>When can I Challenge Trainers?</strong></h5>

      <p>
        Anytime, You just need <strong>Energy</strong>.
        You need to defeat a <strong>Trainer</strong> once if You want to
        challenge him again.
      </p>
      <p>
        &#x25ba; Anytime is a good time to challenge
        <strong>Trainers!</strong>. You might think spending some
        <strong>Crystals</strong> to purchase <strong>Energy</strong>.
      </p>

      <h5 class="bold">Recommened Tips</h5>  <!-- RECOMMENED TIPS -->

      <ul class="bracelet-list list">
        <li>
          Equip <strong>Berry</strong> to your Pokémon team before
          challenge any <strong>Trainer</strong>.
        </li>
        <li>
          Watch the opposing team before any challenge and
          <strong>Counter</strong> your enemy!
        </li>
        <li>
          Do not mislead the opposing Pokémon <strong>Stats</strong>.
          Enemy Pokémon are more weaker than you think.
        </li>
        <li>
          Use <span class="Water">RAID x 10</span> function if you seek
          fast rewards. You will challenge any Trainer <strong>10 times</strong> at once.
        </li>
      </ul>

      <h5><strong>Let's start!</strong></h5>   <!-- LET'S START -->

      <p>&#x25ba; First You need to enter the Menu and select "<strong>Instance</strong>"</p>
      <p>&#x25ba; Search and select "<strong>Challenge Trainers</strong>"</p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}instance.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}challenge2.jpg" >
        </div>
      </div>

      <p>You will see this window now:</p>

      <img src="{{urlImage}}challenge3.jpg">

      <div class="row text-center raid">
        <div class="col-4">
          <strong>Normal Fight</strong>
          <img src="{{urlImage}}fight.png">
        </div>
        <div class="col-4">
          <strong>Auto Win Fight</strong>
          <img src="{{urlImage}}raid.png">
        </div>
        <div class="col-4">
          <strong>Auto Win Fight x 10</strong>
          <img src="{{urlImage}}raidx10.png">
        </div>
      </div>

      <p>
        &#x25ba; Select the Map You want. Each <strong>Map</strong>
        have different Trainers! Complete all Trainers within a Map with
        <strong class="Fire">3 Stars</strong> and claim huge Rewards, including
        <strong>Crystals</strong>. You need <strong class="Fire">3 Stars</strong>
        to Raid Trainers.
      </p>

      <img src="{{urlImage}}challenge6.jpg">

      <p>
        &#x25ba; Watch the <strong>opposing team</strong> and pick a
        Pokémon strong against your enemy.
      </p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}challenge4.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}challenge5.jpg" >
        </div>
      </div>

      <p>
        &#x25ba; Now You can <strong>adjust</strong> your team.
        A good Type against <span class="Flying">Flying</span> is <span class="Ice">Ice</span>
      </p>

      <p>
        Everything is almost ready! Before start challenge Trainers,
        you should know a couple of things:
      </p>

      <ul class="bracelet-list list">
        <li>
          Challenge <strong>Trainers</strong> anytime You can!
          There's no limit, only <strong>Energy</strong> cost.
        </li>
        <li>
          Equip <strong>Berry</strong> to your Pokémon team before
          challenge Trainers.
        </li>
        <li>
          Remember to use any Pokémon with <strong>priority moves</strong>
          to secure kills on fast Pokémon with <strong>low HP</strong>.
          <span class="Normal">Extreme Speed</span>, <span class="Steel">Bullet Punch</span>.
        </li>
        <li>
          Pokémon with <span class="Grass">Sleep Powder</span> and
          <span class="Grass">Leech Seed</span> are very useful because you can
          heal any of your Pokémon.
        </li>
        <li>
          If You <strong>escape</strong> the battle, it will count
          as a lose and <strong class="Grass">6 Energy</strong> used.Try your best!
        </li>
      </ul>

      <hr class="invisible-separator" #Elite>
      <h2 class="text-themecolor">Elite Trainers</h2>  <!-- ELITE -->
      <h4>Harder Challenges await You!</h4>

      <p class="m-t-20">
        <strong>Elite Trainers</strong> are the same as casual Trainers
        with the difference that they give better <strong>Rewards</strong> at
        expenses of costing <strong class="Grass">12 Energy</strong>.
        <strong>Elite Trainers</strong> will have stronger Pokémon than a normal Trainer.
      </p>
      <p>
        &#x25ba; You can check which Trainers are <strong>Elites</strong>
        on the selection window:
      </p>

      <img src="{{ urlImage }}challenge7.jpg">

      <h4 class="m-t-20"><strong>Differences between Casual and Elite Trainers</strong></h4>

        <ul class="check-list list p-b-20">
          <li>
            Elite Trainers gives "<strong>Pokémon Coins</strong>" as reward,
            while Casual Trainers gives "<strong>Card Shards</strong>"
          </li>
          <li>
            Challenge a Elite Trainer cost <strong class="Grass">12 Energy</strong>
            while challenge a Casual Trainer cost <strong class="Grass">6 Energy</strong>.
          </li>
          <li>You can challenge Elite Trainer <strong>3 times</strong> a day for free.
            <strong>VIP</strong> players have more chances to get more challenges.
          </li>
          <li>
            There's a chance you can get <strong class="Fire">Awakening Stones</strong>
            while fighting <strong>Elite Trainers</strong>.
          </li>
        </ul>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p>&#x25ba; Casual Trainer Rewards:</p>
          <img src="{{ urlImage }}challenge8.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <p>&#x25ba; Elite Trainer Rewards:</p>
          <img src="{{ urlImage }}challenge9.jpg" >
        </div>
      </div>

      <span class="invisible-separator" #Rewards></span>

      <h2 class="text-themecolor">Rewards</h2>   <!-- REWARDS -->
      <h4>Fill your pockets with many items!</h4>

      <p class="m-t-20">
        There is a reward after every battle, <strong>EXP</strong>
        and items to power up your Pokémon!
      </p>

      <img src="{{ urlImage }}challenge10.png">

      <p>The rewards depend on the Trainer Grade:</p>

      <div class="row text-center">
        <div class="col-6 m-t-10">
          <h4 class="bold">Casual Trainers</h4>
          <img class="item" src="{{urlImage}}Scandy.png"/>
          <img class="item" src="{{urlImage}}candy.png"/>
          <img class="item" src="{{urlImage}}gold.png"/>
          <img class="item" src="{{urlImage}}greencardfull.png"/>
          <img class="item" src="{{urlImage}}bluecardshard.png"/>
          <img class="item" src="{{urlImage}}purplecardshard.png"/>
          <img class="item" src="{{urlImage}}orangecardshard.png"/>
        </div>
        <div class="col-6 m-t-10">
          <h4 class="bold">Elite Trainers</h4>
          <img class="item" src="{{urlImage}}Scandy.png"/>
          <img class="item" src="{{urlImage}}candy.png"/>
          <img class="item" src="{{urlImage}}gold.png"/>
          <img class="item" src="{{urlImage}}stone.png"/>
          <img class="item" src="{{urlImage}}coin.png"/>
        </div>
      </div>

   </div>
 </div>
</div>
