<div class="animated fadeIn slower" *ngIf="trainer">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Trainer Profile</h4>
          <h6 class="card-subtitle">Welcome {{trainer.name}}!</h6>
          <h3>{{trainer.name}}'s Team</h3>
          <div class="flex animated fadeIn team">
            <span *ngFor="let pokemon of trainer.team">
                <img [src]="urlImage + pokemon.picture + '.png'"
                     [routerLink]="['/pokemon', pokemon.picture]" class="pkm-team"
                     [matTooltip]="pokemon.name"/>
              </span>
           </div>
           <div *ngIf="trainer.team.length == 0">
             You don't have a Team!
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sun-moon-team-stats [trainer]="trainer"> </sun-moon-team-stats>

<sun-moon-team-ranking [trainer]="trainer"></sun-moon-team-ranking>

<sun-moon-team-types [trainer]="trainer"></sun-moon-team-types>

<sun-moon-make-team (emitChange)="trainer = $event"
                    [trainer]="trainer">
</sun-moon-make-team>
