$red:red;
$green:green;

$Normal: gold;
$Fighting: #880000;
$Flying: #A890F0;
$Poison: purple;
$Ground: #E0C068;
$Rock: #B8A038;
$Bug: #A8B820;
$Ghost: #705898;
$Steel: grey;
$Fire: red;
$Water: blue;
$Grass: green;
$Electric: #F8D030;
$Psychic: pink;
$Ice: #008080;
$Dragon: #7038F8;
$Dark: #705848;
$Fairy: #FF69B4;
