<mat-dialog-content>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Profile Picture</h4>
      <h6 class="card-subtitle">Change your Profile picture!</h6>
        <div class="row center">
          <img *ngIf="!temporalImage" [src]="random | image" atl="Image"/>
          <img *ngIf="temporalImage" [src]="temporalImage" atl="Image"/>
        </div>
        <div class="row center">
        <form [formGroup]="uploadPictureForm" (ngSubmit)="onSubmitPicture()"
          class="floating-labels p-t-20">
          <!-- PICTURE -->
              <div class="form-group has-feedback m-b-20"
                [ngClass]="uploadPictureForm.controls.image.invalid == true ?
                          'has-danger' : 'has-success'">
                  <div class="input-group center">
                    <label for="file-upload" class="custom-file-upload hover">
                      Select a Picture <i class="material-icons">image_search</i>
                    </label>
                    <input type="file" accept=".png, .jpg, .jpeg" formControlName="image"
                    id="file-upload" (change)="uploading($event, $event.target.files[0])" name="image"
                    [ngClass]="uploadPictureForm.controls.image.invalid == true ?
                            'form-control-danger' : 'form-control-success'"
                    class="form-control form-control-danger">
                  </div>
              </div>


            <div class="center">
              <button [mat-dialog-close]="true" (click)="onSubmitPicture()"
              class="btn btn-info btn-block waves-effect waves-light"
              [disabled]="!fileToUpload || uploadPictureForm.invalid">
                UPDATE</button>
            </div>
         </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
