@import '../../../../scss/types-text';

.check-list li {
		padding: 1.1em 5px 0.7em 35px;
    margin-left: -35px;
		font-size: 1.2em;
		background: url("../../../../../assets/images/icon/check-li.png") 0px 1.05em no-repeat;
    border-bottom: solid 1px #e2e6e8;
    width: 100%;
    font-size: .9em;
	}

ul {
		list-style: none;
}

.chart {
	max-width: 100%;
	margin: 20px auto;
}
