<div  class="invasion animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h4 class="card-title">Pokémon Invasion</h4>
      <h6 class="card-subtitle">Defend Alola Islands!</h6>
      <ol class="index">
         <li><span class="list-item">1.</span>
           <h4 class="index">
             <a (click)="scrollToElement(Requeriments)">Requeriments</a>
           </h4>
         </li>
         <li><span class="list-item">2.</span>
           <h4 class="index">
             <a (click)="scrollToElement(Starting)">Starting</a>
           </h4>
         </li>
         <li><span class="list-item">3.</span>
           <h4 class="index">
             <a (click)="scrollToElement(Pokemon)">Legendary Pokémon</a>
           </h4>
         </li>
         <li><span class="list-item">4.</span>
           <h4 class="index">
             <a (click)="scrollToElement(Rewards)">Rewards</a>
           </h4>
         </li>
     </ol>
      <hr class="separator" #Requeriments>
      <h2 class="text-themecolor">Requeriments</h2>  <!-- REQUERIMENTS -->
      <ul class="bracelet-list list">
        <li>
          Pokémon Invasion happens <strong>four times</strong> a day,
          You have no escuse to defend Alola Islands!
        </li>
        <li>
          <strong>Level 50+</strong> its recommend, since Legendary
          Pokémon are spread into many Alola Islands.
        </li>
        <li>
          Pokémon with <strong>Porcentual Damage</strong> are very recommend,
          Legendary Pokémon have a lot of <strong>HP</strong>.
        </li>
        <li>
          Invasion only happens in a certain period of <strong>time</strong>. You need to be
          online at that time to fight Legendary Pokémon
        </li>
      </ul>

      <hr class="invisible-separator" #Starting>
      <h2 class="text-themecolor">Starting</h2>  <!-- STARTING -->
      <h4>Warning! Legendary Pokémon invading!</h4>
      <h5 class="bold">What is Pokémon Invasion?</h5>  <!-- WHAT IS INVASION? -->

      <p>
        You have the chance to get <strong>Legendary Pokémon</strong> for free.
      </p>

      <p>
        &#x25ba; All You need to do is defeat a Wild Legendary Pokémon to
        get "<strong>Legendary Shards</strong>",
        with <strong>50</strong> You can synthesis one Legendary Pokémon.
      </p>

      <h5><strong>When can I do Pokémon Invasión?</strong></h5>

      <p>
        Everyday You have the chance to encounter Wild Legendary
        Pokémon with the following schedule:
      </p>

      <ul class="check-list list">
        <li><strong>12:00 - 13:00</strong> GMT +8</li>
        <li><strong>15:00 - 16:00</strong> GMT +8</li>
        <li><strong>18:00 - 19:00</strong> GMT +8</li>
        <li><strong>21:00 - 22:00</strong> GMT +8</li>
      </ul>

        <p>Dont miss out! They are invading every <strong>3 hours</strong>.</p>

      <h5 class="bold">Recommened Tips</h5>  <!-- RECOMMENED TIPS -->

      <ul class="bracelet-list list">
        <li>
          You can synthesis <strong>4 different</strong> Legendary
          Pokémon each week.
        </li>
        <li>
          Collect <strong>Legendary Shards</strong> from the same
          Pokémon (50 shards) if You want to synthesis 4 Pokémon each week.
        </li>
        <li>
          Use Pokémon with the following moves: <span class="Normal">Wrap</span>,
          <span class="Poison"> Toxic</span>,  <span class="Grass"> Leech Seed</span>
        </li>
        <li>
          You can defeat every Legendary Pokémon but note that
          <strong>weekly limit</strong>
          for shards is <strong>100</strong> only.
        </li>
      </ul>

      <h5 class="bold">Recommened Pokémon</h5>  <!-- RECOMMENED POKEMON -->

      <ul class="check-list list">
        <li>
          Pokémon with <strong>porcentual damage</strong> like
          <span class="Dark">Darkrai</span> with <span class="Ghost">Nightmare</span>
          or <span class="Water">Milotic</span> with <span class="Normal">Wrap</span>
        </li>
        <li>
          Pokémon with moves like <span class="Grass">Leech Seed</span>,
          <span class="Poison">Toxic</span> or any move that can leave a
          <strong>Burn</strong>.
        </li>
        <li>
          We also recommend <span class="Ice">Ice</span>, <span class="Dragon">Dragon</span>
          and <span class="Dark">Dark</span> Pokémon, since many Legendary Pokémon
          are <span class="Dragon">Dragon</span> and <span class="Psychic">Psychic</span>
        </li>
      </ul>

      <h5 class="bold">Restrictions</h5>  <!-- RESTRICTIONS -->

      <ul class="bracelet-list list">
        <li>
          Weekly limit reset at <strong>Monday 00:00 GMT +8</strong>
        </li>
        <li>
          You can collect a total of <strong>200 shards</strong> a week.
        </li>
        <li>
          When You reach the <strong>Shard Limit</strong>, You still
          be able to defeat Legendary Pokémon but without any reward.
        </li>
        <li>
          There are 2 types of shard. <span class="Poison">Type A</span>,
          from <strong>A grade Legendary Pokémon</strong>.
          <span class="Fire">Type S</span>,
          from <strong>S grade Legendary Pokémon</strong>.
          Each one have shard limit of <strong>100</strong>.
        </li>
      </ul>

      <hr class="invisible-separator" #Pokemon>
      <h2 class="text-themecolor">Legendary Pokémon</h2>  <!-- LEGENDARY -->
      <h4>Legendary Pokémon Shards</h4>

      <p>
        There are 2 types of Legendary Shards, <strong>A</strong>
        and <strong>S</strong> shards.
      </p>

      <h5 class="bold">Type A Pokémon</h5>

      <div class="flex list">
        <span *ngFor="let pokemon of gradeA">
          <img [src]="urlPokemon + pokemon + '.png'"
          [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
        </span>
      </div>

      <h5 class="bold">Type S Pokémon</h5>

      <div class="flex list">
        <span *ngFor="let pokemon of gradeS">
          <img [src]="urlPokemon + pokemon + '.png'"
          [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
        </span>
      </div>

      <p class="m-t-30">
        Check the shard border color. <strong class="Poison">Purple</strong>
        shards are A, while S shards are <strong class="Fire">Orange</strong>
      </p>

      <p>
        You can Collect 100 of each, <strong>200</strong> total each week.
      </p>

      <p>
        There are two <strong>shard limits</strong>, one for type
        <span class="Poison">A</span> shards, the other
        for <span class="Fire">S</span> shards.
        They dont share limits with each other.
      </p>

      <hr class="separator">

      <h5><strong>Let's start!</strong></h5>   <!-- LET'S START -->

      <p>&#x25ba; First You need to enter the Menu and select "<strong>Instance</strong>"</p>
      <p>&#x25ba; Search and select "<strong>Pokémon Invasion</strong>"</p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}instance.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion2.jpg" >
        </div>
      </div>

      <p>You will see this window now:</p>

      <img src="{{urlImage}}invasion1.png"/>

      <p>
        Now You can adjust your team. Remember You need to do it at the Main Menu.
      </p>
      <p>The difficulty depend on your Level. Choose wisely.</p>
      <p>
        Use your <strong>stronger Pokémon</strong>.
          Check the Pokémon type and use Pokémon that can counter.
      </p>

      <p>Seems like everything is ready to Defend Alola Islands! Keep in mind:</p>

      <ul class="bracelet-list list">
        <li>
          During Legendary Pokémon Invasion, defeat <strong>Wild Legendary</strong>
          Pokémon to get Legendary Pokémon Shards.
        </li>
        <li>
          Weekly shard collecting limit reset at 00:00 GMT +8
          of every <strong>Monday</strong>.
        </li>
        <li>
          <strong>Unlock</strong> more regions to encounter more types of Legendary Pokémon.
        </li>
      </ul>

      <h5 class="bold">Defeating Legendary Pokémon</h5>  <!-- RECOMMENED POKEMON -->

      <p>
        Open the <strong>Pokémon Invasion Window</strong> and select
        from the list the Legendary Pokémon You want to defeat in order to get the shards.
      </p>
      <p>
        You will <strong>auto-route</strong> till encounter the Wild Pokémon.
      </p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion6.png"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion3.jpg"/>
        </div>
      </div>

      <p>
        Each Legendary Pokémon has a <strong>different level</strong>
        depending on the grade and region. The <strong>futher</strong>
        You go, the higher Pokémon level.
      </p>

      <h5 class="bold">Pokémon displayed by level</h5>

      <div class="text-center m-b-30">
        <h5 class="card-subtitle">Level 15</h5>

        <div class="flex list">
          <span *ngFor="let pokemon of level15">
            <img [src]="urlPokemon + pokemon + '.png'"
            [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
          </span>
        </div>

        <h5 class="card-subtitle">Level 30</h5>

        <div class="flex list">
          <span *ngFor="let pokemon of level30">
            <img [src]="urlPokemon + pokemon + '.png'"
            [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
          </span>
        </div>

        <h5 class="card-subtitle">Level 50</h5>

        <div class="flex list">
          <span *ngFor="let pokemon of level50">
            <img [src]="urlPokemon + pokemon + '.png'"
            [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
          </span>
        </div>

        <h5 class="card-subtitle">Level 65</h5>

        <div class="flex list">
          <span *ngFor="let pokemon of level65">
            <img [src]="urlPokemon + pokemon + '.png'"
            [routerLink]="['/pokemon', pokemon]" class="pokemon"/>
          </span>
        </div>

      </div>

      <p class="m-t-30">
        After the auto-route, just defeat the
        <strong>Legendary Pokémon</strong> to get the Rewards, easy!
      </p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion7.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion5.jpg"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion9.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}invasion10.jpg"/>
        </div>
      </div>

      <span class="invisible-separator" #Rewards></span>

      <h2 class="text-themecolor">Rewards</h2>   <!-- REWARDS -->
      <h4>Synthesis Legendary Pokémon</h4>

      <p class="m-t-20">
        Everytime You defeat a <strong>Wild Legendary Pokémon</strong>,
        You Will get Legendary Pokémon Shards.
      </p>

      <p>
        <strong>5 Shards</strong>, each defeated Legendary Pokémon.
        Total <strong>100</strong> Shards per type.
      </p>

      <p>
        Collect <strong>50 Legendary Shards</strong> from a same
        Pokémon to synthesis It. You can do this on the
        <strong>Research Menu, Synthesis.</strong>
      </p>

      <h5 class="bold">What can I do with Legendary Shards?</h5>

      <p>
        You can use <strong>50 Legendary Pokémon Shards</strong>
        to synthesis a Legendary Pokémon.
      </p>

      <p>
        You can exchange <strong>Shards</strong> for another
        <strong>Legendary Pokémon Shards</strong> of your selection in
        amount of <strong>4:1</strong>.
      </p>

      <p>
        First select <strong>"Research"</strong> on the main menu.
        Then select <strong>"Synthesis"</strong>.
      </p>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}research.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="{{ urlImage }}synthesis1.jpg"/>
        </div>
      </div>

      <p>
        Search for the Pokémon You have shards for, in my case I have
        <span class="Poison">60 Riolu Shards</span>. Then select
        <strong>"Synthesis"</strong>.
      </p>

      <p>Finally, catch the <strong>Legendary Pokémon</strong>!</p>

        <div class="row m-b-0">
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}synthesis.jpg"/>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}catch.jpg"/>
          </div>
        </div>

        <h5 class="bold">Exchange Legendary Shards</h5>

        <p>
          Use <strong>4 Legendary Pokémon Shards</strong> of the same Pokémon
          and exchange them to <strong>1 Legendary Pokémon Shard</strong> of your choice.
        </p>

        <p>
          Let's go back to <strong>Synthesis Window</strong>... Search the
          Pokémon you want shards for and select <strong>"Exchange Shard"</strong>.
        </p>

        <p>You will see this window now:</p>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}exchange.jpg"/>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}exchange3.jpg"/>
          </div>
        </div>

        <p>
          In this case We are looking for <strong>Little Deoxys Shard</strong>.
          Can only exchange <strong>4 Random Shards</strong> of same quality.
        </p>

        <p>
          We select any <strong>Legendary Shard</strong> from the right with
          at least <strong>4</strong> of them.
        </p>

        <p>
          After this You can <strong>Exchange All</strong> or just
          <strong>Exchange 1</strong>. Note that this process cost
          <strong>Money</strong>.
        </p>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}exchange1.jpg"/>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="{{ urlImage }}exchange2.jpg"/>
          </div>
        </div>

        <p>
          Select <strong>"Exchange"</strong> if You want to
          exchange just <strong>1 Shard</strong>.
        </p>

        <p>
          Select <strong>"Exchange All"</strong> if You want to get
          <strong>2 Shards</strong> instead. Simple Math: 8/4 = 2.
        </p>

    </div>
  </div>
</div>
