  <div class="row m-t--60">
    <div class="col-sm-12">
      <div class="card login-box">
        <div class="card-body"><div class="list-group">
           <button type="button" (click)="openInfo('pokedex')"
            class="list-group-item slide">Improved Pokédex!</button>
           <button type="button" (click)="openInfo('filter')"
            class="list-group-item slide">Filter Pokémon</button>
           <button type="button" (click)="openInfo('guides')"
            class="list-group-item slide">Plenty of Guides!</button>
           <button type="button" (click)="openInfo('profile')"
            class="list-group-item slide">Trainer Profile</button>
        </div>
        </div>
      </div>
    </div>
  </div>
