@import '../../../../scss/types-text';

.dual {
  margin-top: 50px;
}

.flex {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.pokemon {
  width: 40px;
  height: 45px;
  margin: 0 2px;
}

.pokemon:hover {
  cursor:pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
