<div class="card">
  <div class="card-body">
    <h4 class="card-title">Trainer Info</h4>
    <h6 class="card-subtitle">Here You can change your Trainer Info</h6>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmitProfile()" class="floating-labels p-t-20">

          <div class="form-group">  <!-- NAME -->
            <div class="form-group has-feedback m-b-20"
              [ngClass]="updateForm.controls.name.invalid == true ?
               'has-danger' : 'has-success'">
                <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" formControlName="name" name="name"
              [ngClass]="updateForm.controls.name.invalid == true ?
               'form-control-danger' : 'form-control-success'"
                class="form-control form-control-danger">  </div>
            </div>
          </div>

          <!-- <div class="form-group">  LASTNAME
            <div class="form-group has-feedback m-b-20"
              [ngClass]="updateForm.controls.lastName.invalid == true ?
               'has-danger' : 'has-success'">
                <div class="input-group">
              <div class="input-group-addon"><i class="ti-id-badge"></i></div>
                <input type="text" formControlName="lastName" name="lastName"
              [ngClass]="updateForm.controls.lastName.invalid == true ?
               'form-control-danger' : 'form-control-success'"
                class="form-control form-control-danger">  </div>
            </div>
          </div> -->

          <div class="form-group">  <!-- EMAIL-->
            <div class="form-group has-feedback m-b-20"
              [ngClass]="updateForm.controls.email.invalid == true ||
               areYouFromGoogle ? 'has-danger' : 'has-success'">
                <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
                <input formControlName="email" name="email" type="email"
              [ngClass]="updateForm.controls.email.invalid == true ?
               'form-control-danger' : 'form-control-success'"
                class="form-control form-control-danger">  </div>
            </div>
          </div>

          <div class="center margintb">
            <button type="submit" class="btn btn-info waves-effect waves-light mt-1 btn-block"
             [disabled]="updateForm.controls.name.invalid">
              UPDATE</button>
            <button type="button" (click)="resetForm()"
            class="btn btn-success waves-effect waves-light mt-1  btn-block"
            [disabled]="!updateForm.controls.name.value">
              CLEAN</button>
          </div>
       </form>
  </div>
</div>
