.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.error {
  color:red;
  font-size: .7em;
  font-weight: bold;
}

.btn:disabled {
  background: grey;
}

@media (min-width: 986px){
  .card {
    min-height: 366px;
  }
}

.margintb {
  margin-top: 91px;
  margin-bottom: 27px;
}

@media (max-width:600px){
  .margintb {
    margin-top: 30px;
    margin-bottom: 5px;
  }
}
