<section id="wrapper">
  <div class="login-register">
    <sun-moon-slogan></sun-moon-slogan>
    <h3 class="text-center animated zoomIn slower slogan">
      Amazing and exciting adventure await for you.
      You will be a Master Trainer!</h3>
    <sun-moon-image-grid></sun-moon-image-grid>
    <h3 class="text-center animated zoomIn slower">
      "We want to help any Trainer out there.
      Our goal is to bring useful data about the game
      while You are having a great experience"</h3>
      <br>
    <h3 class="text-center animated zoomIn slower underline">
      Main Features
      </h3>
    <sun-moon-features></sun-moon-features>
    <h3 class="text-center animated zoomIn slower">
      What are You waiting for? <br>Join Now!</h3>
    <pocketown-form-signup></pocketown-form-signup>
  </div>
</section>
