@import '../../../scss/types-box';

.bio {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}

.length6 {
  padding: 0 20px;
  margin: 0 auto;
}

.pokemon {
  width: 45px;
  height: auto;
  margin: 0 2px;
}

.info {
  padding: 0 5px;
  font-size: .8em;
  vertical-align: middle;
  min-height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pokemon:hover {
  cursor:pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (min-width: 600px) {
  .pokemon {
    width: 55px;
    margin: 0 5px;
  }

  .info {
    padding: 0 90px;
    font-size: .8em;
    min-height: 50px;
  }

  .familiars {
    max-width: 500px;
    margin: 0 auto;
  }

  .length8 {
    max-width: 550px;
    margin: 0 auto;
  }
}

.same {
  border-bottom: 3px groove rgba(0,0,0, .5);
  border-radius: 3px;
}

.type {
  padding: 3px 6px;
  font-size: 1em!important;
}

.bottom {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0;
  overflow: visible;
}
