label {
  padding: 5px;
  margin: auto 2px;
}

.virtual {
  width: 100%;
  height: 900px;
}

.flex {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pokemon {
  width: 56px;
  height: 63px;
  margin: 0 2px;
}

@media (max-width:600px){
  .pokemon {
    width: 40px;
    height: 45px;
  }
}

.pokemon:hover {
  cursor:pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.card {
  overflow: hidden;
}

.pokedex {
  max-width: 900px;
  margin: 0 auto;
}
