button {
  margin-top: 25px;
  margin-bottom: 15px;
}

h4 {
  margin-top: 20px;
}

.card {
  min-height: 400px;
}

@media (max-width:1431px) and (min-width:992px) {
  h4 {
    margin-top: 28px;
  }
}

@media (max-width:1431px) and (min-width:1230px) {
  button {
    margin-top: 20px;
  }
}

@media (min-width:1431px){
  button {
    margin-top: 19px;
  }
}
