.flex {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pokeitem {
  width: 55px;
  height: 55px;
  margin: 2px;
}

@media (max-width:600px){
  .pokeitem {
    width: 40px;
    height: 40px;
  }
}

.pokeitem:hover {
  cursor:pointer;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.card {
  overflow: hidden;
}

.pokeitems {
  max-width: 900px;
  margin: 0 auto;
}
